@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ultra&display=swap');


h1, h2 {
    font-weight: bolder;
    font-family: 'ultra',cursive;
    color: rgb(254, 221, 0);
}

body{
    font-weight: bolder;
    color: rgb(8, 255, 144);
    text-decoration: solid;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(156, 45, 113);
    text-align: center;
}
nav{
    background-color: black;
}
nav > a{
    color: rgb(255, 0, 25);
    text-decoration: none;
    padding: 25px;
    display: inline-block;
}
nav > a:hover {
    background-color: rgb(43, 102, 18);
}
input, textarea {
    background-color: rgb(64, 104, 147);
    border-radius: 20px;
    padding: 14px;
    border: 80px rgb solid(0, 64, 255);
    border-width:0 0 4px 0;
    border-color: rgb(0, 255, 255);
}
input[type=submit] ,input[] {
        background-color: cyan;
}
input:hover, textarea:hover{
    background-color: rgb(255, 111, 0);
}
input[type=submit]:hover {
    background-color: chartreuse;
}