@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ultra&display=swap');


h1, h2 {
    font-family: 'ultra',cursive;
    color: rgb(243, 89, 0);
}

body{
    color: rgb(251, 255, 2);
    text-decoration: solid;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(123, 0, 255);
}
nav{
    background-color: rgb(0, 0, 0);
}
nav > a{
    color: rgb(0, 255, 179);
    text-decoration: none;
    padding: 25px;
    display: inline-block;
}
nav > a:hover {
    background-color: darkslategrey;
}