@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ultra&display=swap');


h1, h2 {
    font-weight: bolder;
    font-family: 'ultra',cursive;
    color: rgb(255, 0, 157);
}

body{
    font-weight: bolder;
    color: rgb(255, 7, 7);
    text-decoration: solid;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.63'%3E%3Ccircle fill='%23000000' cx='50' cy='0' r='50'/%3E%3Cg fill='%230d0000' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231a0000' cx='50' cy='100' r='50'/%3E%3Cg fill='%23260000' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23330000' cx='50' cy='200' r='50'/%3E%3Cg fill='%23400000' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%234d0000' cx='50' cy='300' r='50'/%3E%3Cg fill='%23590000' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23660000' cx='50' cy='400' r='50'/%3E%3Cg fill='%23730000' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23800000' cx='50' cy='500' r='50'/%3E%3Cg fill='%238c0000' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23990000' cx='50' cy='600' r='50'/%3E%3Cg fill='%23a60000' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b30000' cx='50' cy='700' r='50'/%3E%3Cg fill='%23bf0000' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cc0000' cx='50' cy='800' r='50'/%3E%3Cg fill='%23d90000' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e60000' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f20000' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FF0000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
    text-align: center;
}
nav{
    background-color: black;
    position: sticky;
    top: 0;
}
nav > a{
    color: rgb(255, 1, 1);
    text-decoration: none;
    padding: 25px;
    display: inline-block;
}
nav > a:hover {
    background-color: rgba(0, 255, 225, 0.772);
}
input, textarea {
    background-color: rgb(0, 123, 255);
    border-radius: 20px;
    padding: 14px;
    border: 80px rgb solid(0, 64, 255);
    border-width:0 0 4px 0;
    border-color: rgb(255, 0, 0);
}
input[type=submit] ,input[] {
        background-color: cyan;
}
input:hover, textarea:hover{
    background-color: rgb(0, 255, 8);
}
input[type=submit]:hover {
    background-color: rgb(58, 249, 0);
}

@media screen and (max-width: 500px) {
    .navbar a{
        float: none;
        display: block;
    }
}@media screen and (max-width: 400px) {
/* mobile phone */
}

.logoFix {
    text-decoration: none;
    font-size: xxx-large;
    color: rgb(255, 255, 255);

}
.fa-fa-instagram{
    text-decoration: none;
    font-size: xxx-large;
    color: rgb(255, 255, 255);

}
#youtube-link:hover {
    color: rgb(138, 247, 245);
}

#youtube-link {
    font-weight: 250;
}
#instagram-link {
    font-weight: 250;
}
a {
color: rgb(0, 229, 255);
}

a:hover {
    color: rgb(240, 66, 66);
}